# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
venv/
ENV/
env.bak/

# Environment files
.env
*.env

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.swp

# Ignore folder
