# Google Gemini API
GEMINI_API_KEY=AIzaSyD821OlmiLhqBGHDlPVDOXnpJG5Bbr_Csk

# Pinecone Vector Database
PINECONE_API_KEY=pcsk_3yJUVs_Ueh7taKiDFYeHVjSWBesmCQPDqpmQwk1sGwitfzEzquFbsxbH435DCNadaSEn5S
PINECONE_INDEX_NAME=cyber


# Upstash Redis (Serverless Session Memory)
# Format: rediss://default:<token>@<host>:<port>
REDIS_URL=rediss://default:your_upstash_token@your_redis_host:6379
